In [5]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="psh006",
    password="My#Strong#Pass123"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001E74B797D00>

In [8]:
mycursor = mydb.cursor()
# Create a Database called SensorDatabase
mycursor.execute("CREATE DATABASE SensorDatabase")
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

mydb.close()
mycursor.close()

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sensordatabase',)
('sys',)

In [1]:
import mysql.connector
''' This code is used to display datasets that exist'''
conn = mysql.connector.connect(
    host="localhost",
    user="psh006",
    password="My#Strong#Pass123"
)

cursor = conn.cursor()# creates a cursor object that allows interaction with the MySQL database.
cursor.execute("SHOW DATABASES")

for db in cursor:
    print(db)

cursor.close()
conn.close()

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sensordatabase',)
('sys',)

In [4]:
# To remove a dataset (i.e., a database) on an SQLConnector use DROP DATABASE

''' This code is used to display datasets that exist'''
conn = mysql.connector.connect(
    host="localhost",
    user="psh006",
    password="My#Strong#Pass123"
)

cursor = conn.cursor()

# Drop the database, I accidently added this dataset hence would like to delete this
database_name = "mydatabase"
cursor.execute(f"DROP DATABASE {database_name}")

cursor.close()
conn.close()
print(f"Database {database_name} deleted successfully.")

DatabaseError: 1008 (HY000): Can't drop database 'mydatabase'; database doesn't exist

In [5]:
import mysql.connector
import random

# Connect to MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="psh006",
    password="My#Strong#Pass123"
)

cursor = conn.cursor()

'''Create the database if it does not exist'''
cursor.execute("CREATE DATABASE IF NOT EXISTS sensordatabase")
print("Database 'sensordatabase' created successfully.")

# Connect to the 'sensorsdatbase' 
conn.database = "sensordatabase"

'''Create the table if it does not exist'''
create_table_query = """
CREATE TABLE IF NOT EXISTS sensors_data (
    Sensor_Id INT AUTO_INCREMENT PRIMARY KEY,
    Raw_value FLOAT NOT NULL,
    Processed_value FLOAT NOT NULL,
    Units VARCHAR(10) NOT NULL
);
"""
cursor.execute(create_table_query)
print("Table 'sensors_data' created successfully.")

# Random data to be inserted into the table
units_list = ["째C", "V", "m/s", "Pa", "%"]  # Example units

insert_query = "INSERT INTO sensors_data (Raw_value, Processed_value, Units) VALUES (%s, %s, %s)"

# Insert 10 random records
for _ in range(10):
    # Random float in the range [0,100]
    raw_value = round(random.uniform(0, 100), 2)  
    # Processed with a small variation of the orig
    processed_value = round(raw_value * random.uniform(0.8, 1.2), 2)  
    # randomly selected element from the list
    unit = random.choice(units_list)
    cursor.execute(insert_query, (raw_value, processed_value, unit))

conn.commit()  # Commit to database
print("Inserted 10 random records into 'database'.")

# Fetch and display inserted records
cursor.execute("SELECT * FROM sensors_data")
rows = cursor.fetchall()
print("\nSample Records:")
for row in rows:
    print(row)
cursor.close()
conn.close()

Database 'sensordatabase' created successfully.
Table 'sensors_data' created successfully.
Inserted 10 random records into 'sensors_data'.

Sample Records:
(1, 28.33, 29.93, 'Pa')
(2, 9.15, 10.81, '째C')
(3, 43.86, 51.98, 'V')
(4, 92.36, 109.13, 'Pa')
(5, 51.23, 47.16, 'Pa')
(6, 85.1, 85.99, 'Pa')
(7, 49.86, 49.82, '%')
(8, 68.71, 75.13, '%')
(9, 81.18, 89.22, '%')
(10, 57.09, 48.94, 'V')
(11, 48.05, 42.06, '째C')
(12, 23.55, 19.4, 'm/s')
(13, 87.79, 77.72, 'Pa')
(14, 9.17, 8.31, 'm/s')
(15, 65.67, 61.08, '째C')
(16, 42.3, 41.89, '%')
(17, 9.6, 11.26, '%')
(18, 87.98, 104.08, 'Pa')
(19, 4.84, 4.38, '%')
(20, 85.35, 71.29, 'V')